<div class="navbar navbar-expand-lg fixed-top d-flex">
    <div class="flex-fill"><a href="/"><img src='{{ "/assets/img/logo.png" | relative_url }}' alt=""></a></div>
    <div class="align-items-end flex-column">
        <button type="button" id="sidebarCollapse" class="btn">
            <i class="fas fa-align-left"></i>
            <span>Menu</span>
        </button>
    </div>
</div>

<div id="sidebar">
    <div class="sidebar-header">
        <h3><a href="/">4 Origins Brewing Co.</a></h3>
    </div>
    <div id="dismiss">
        <i class="fas fa-times fa-2x"></i>
    </div>
        <nav>
            <ul class="list-unstyled components">
                <li><a href="/">Home</a></li>
                <li><a href="#">Taproom</a></li>
                <li><a href="#">Brewery</a></li>
                <li><a href="#">Handcrafted Beers</a></li>
                <li><a href="#">Distribution</a></li>
                <li><a href="#">4 Origins</a></li>
                <li><a href="#">Connect</a></li>
            </ul>
        </nav>
</div>